{% extends 'base.html' %}

{% load static %}

{% block title %} Login {% endblock title %}

{% block content %}

<div class="row">
  <div class="col-md-6 m-auto">
      <div style="margin-top:100px" class="container ">
          <h2 class="text-center font-weight-bold">Log In</h2>
          <form id="contact" action="" method="POST" novalidate>
            {% csrf_token %}
            {% if messages %}
              <div>
                {% include 'message.html' %}
              </div>
            {% endif %}
              <div class="form-group p-5">
                  <input type="text" class="form-control" name="username" id="username_id" placeholder="Username/email">
                  <p class="error py-1 text-danger">{{form.username.errors}}</p>
              </div>
              <div class="form-group p-5">
                  <input class="form-control" name="password" type="password" id="password_id" placeholder="Your password" style="margin-top: -57px;">
                  <p class="error py-1 text-danger">{{form.password.errors}}</p>
              </div>
              <button type="submit"  style="margin-bottom: 2rem; margin-left:30%;border-radius: 3rem; width: 15em; font-weight: 600;font-size: small;" class="btn btn-primary ">Login</button><br>
              <p>Don,t have an account? <a style="margin-left:25%;"  href="{% url 'register_user' %}"> Sign Up</a><p>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock content %}